@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<div class="container pt-3">
    <div class="row pt-4">
    <div class="col-6">
        <h2 class="text-primary">Category List</h2> 
    </div>
    <div class="col-6 text-end">
        <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i>&nbsp; Create New Category
        </a>
    </div>
</div>
</div>

<div class="container p-3">

</div>

<table class="table table-bordered table-striped " style="width:100%">
    <thead class="table-primary">
        <th>
            Category Name
        </th>
        <th>
            Display Order    
        </th>
        <th></th>
    </thead>
    <tbody class="table-light ">
        @foreach(var obj in Model)
        {
            <tr>
                <td width="50%" >
                    @obj.Name
                </td>
                <td width="30%">
                    @obj.DisplayOrder
                </td>
                <td class="text-center">
                    <div class="w-75 btn-group d-inline" role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-warning"><i class="bi bi-pencil-square"></i> Edit</a>
                    </div>
                    @*<div class="w-75 btn-group d-inline" role="group">
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger"><i class="bi bi-trash"></i> Delete</a>
                    </div>*@
                    <div class="w-75 btn-group d-inline" role="group">
                        <form method="post" asp-action="DeletePOST" asp-route-id="@obj.Id" class="d-inline">
                            <button type="submit" class="btn btn-danger "><i class="bi bi-trash"></i>Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
